{{ define "footer.tmpl" }}
    </main>
    <footer class="container margin-top">
      <span>
        Feel free to take a peak at how this was made 
        <a href="https://github.com/mattbarrio/sam-loves-beans" target="_blank"><img src="/static/img/octocat.png" /></a>
      </span>
      <br />
    </footer>
  </body>
</html>
{{ end }}